.formsWrap, form#getImage {
	display:block;
	float:left;
	width:520px;	
}
#points {
	width:500px;	
}
.result {
	float:left;	
}
.canvasWrapper {
	display:block;
	float:left;
	width:500px;
	height:500px;
	background:#000;	
}